:root{
    --miex-bg-color-dark-blue: rgb(4, 30, 52);
    --miex-bg-color-dark-blue-see-through: rgba(4,30,52, 0.5);
    --miex-color-light-blue: rgb(1, 247, 248);
    --miex-color-glow-red: rgb(213, 68, 139);
    --miex-text-color-white: rgb(255,255,255);
    --miex-text-color-gray: rgb(178, 178, 178);
    --min-preview-content-width: 400px
}

#matrix{
    position: absolute;
    float: right;
    z-index: 0;
}

#main-content{
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

#main-content h1 {
    text-shadow: 10px 10px 10px var(--miex-color-glow-red);
}

#preview-grid{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px;
}

body{
    background-image: url("./img/cosmos-1853491_1920.jpg");
    background-color: var(--miex-bg-color-dark-blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior:  smooth;
    overflow: scroll;
    overscroll-behavior: none;
    padding-top: 50px;
    padding-bottom: 20px;
    color: var(--miex-text-color-white);
    font-family: "Space Grotesk", sans-serif;
}

.group-link{
    color: var(--miex-color-light-blue);
    text-align: right;
}

.preview-content{
    padding: 2px 2px 8px 2px;
    color: var(--miex-text-color-gray);
    background-color: var(--miex-bg-color-dark-blue-see-through);
    box-shadow: 0 4px 0 var(--miex-color-light-blue);
    transition: 0.3s;
    text-align: center;
    border-radius: 5px;
    max-width: 33%;
    min-width: 300px;
    box-sizing:  border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis:  calc(30% - 10px);
}
.preview-content:hover{
    color: var(--miex-text-color-white);
    box-shadow: 0 8px 16px 0 var(--miex-color-light-blue);
}


.preview-iframe-content {
    overflow: hidden;
    pointer-events: none;
    background: white;
    border-radius: 4px ;
    width: 90%;
    height: 400px;
    border: none;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--miex-bg-color-dark-blue-see-through);
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: unset;
    color: white;
    text-align: center;
}
footer a {
    color: var(--miex-text-color-white);
    text-shadow: -1px 2px 8px var(--miex-color-light-blue);
}